@import "../../theme.css";

.footer {
  padding: 1.6rem;
  border-top: 1px solid var(--border-subtle);
  background: var(--bg-main);
}

.footer__container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: var(--text-muted);
}

.footer__text {
  font-size: 0.85rem;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }
}
